<div class="clearfix">
  <h1 class="float-left">Edit Customer Information</h1>
  <%= link_to 'Go Back To Customer Page', customer_path(@customer), class: "float-right btn btn-lg btn-info add-customer-btn" %>
</div>

<%= simple_form_for :customer, url: customer_path(@customer), method: :patch do |c| %>
  <%= c.input :first_name, error: "Username is required" %>
  <%= c.input :last_name %>
  <%= c.input :email %>
  <%= c.input :gallery_web_address %>
  <%= c.input :phone %>
  <%= c.input :address %>
  <%= c.input :event_date %>
  <%= c.input :event_location %>
  <%= c.input :note %>
  <%= c.input :web_page_viewable, as: :boolean %>
  <%= c.button :submit, "Save Changes To Customer Profile", class: "width-100 btn btn-primary" %>
<% end %>
