<h1>Add New Customer</h1>

<%= simple_form_for @customer do |c| %>
  <%= c.input :first_name %>
  <%= c.input :last_name %>
  <%= c.input :email %>
  <%= c.input :gallery_web_address %>
  <%= c.input :phone %>
  <%= c.input :address %>
  <%= c.input :event_date %>
  <%= c.input :event_location %>
  <%= c.input :note %>
  <%= c.input_field :web_page_viewable,  as: :boolean %>
  <%= c.label :web_page_viewable %>
  <%= c.button :submit, "Create Client", class: "btn btn-primary width-100" %>
<% end %>

<script type="text/javascript">
  var target = $("[name='customer[web_page_viewable]']")[0];
  target.remove();
  $("[name='customer[web_page_viewable]']").bootstrapSwitch();
</script>
