<h1>Add New Client</h1>

<%= simple_form_for @customer do |c| %>
  <%= c.input :first_name %>
  <%= c.input :last_name %>
  <%= c.input :email %>
  <%= c.input :gallery_web_address %>
  <%= c.input :phone %>
  <%= c.input :address %>
  <%= c.input :event_date %>
  <%= c.input :event_location %>
  <%= c.input :note %>
  <%= c.button :submit, "Create Client" %>
<% end %>
